<!DOCTYPE html>
<html lang="en">
<div style="visibility: hidden">{% load crispy_forms_tags static %}</div>
<script src="./jquery_3.6.0.js"></script>
<link href="./HLMT_Stylesheet.css" rel="stylesheet">
<link rel="icon" href="./Logo_Quadrat.ico" type="image/x-icon">


<head>
    <meta charset="UTF-8">
    <title>Information</title>

</head>
<body>

<div id="main">
    <div id="topbar">
        <div id="timeOutput" style="color: black">

        </div>
        <div id="rubrik" class="teletext" style="float: left; z-index: 99999"><span class="redbg"> &#xe23c;&#xe23c;&#xe23c;        &#xe220;&#xe210;     </span>
<span class="redbg">  &#xe23f;         &#xe22a;&#xe215;     </span>
<span class="redbg">  &#xe23f;         &#xe22a;&#xe215;     </span>
<span class="redbg">  &#xe23f;         &#xe22a;&#xe215;     </span>
<span class="redbg">  &#xe23f; &#xe228;&#xe21c;&#xe22c;&#xe214;&#xe228;&#xe21c;&#xe22c;&#xe214;&#xe22a;&#xe215;&#xe228;&#xe21c;&#xe20c;&#xe204; </span>
<span class="redbg">  &#xe23f; &#xe22a;&#xe215;&#xe22a;&#xe215;&#xe22a;&#xe215;&#xe22a;&#xe215;&#xe22a;&#xe215;&#xe20a;&#xe20d;&#xe22c;&#xe214; </span>
<span class="redbg">  &#xe23f; &#xe22a;&#xe235;&#xe23a;&#xe215;&#xe22a;&#xe235;&#xe23a;&#xe215;&#xe22a;&#xe215;&#xe220;&#xe230;&#xe23a;&#xe215; </span>
<span class="redbg">                   </span>
            </div>
        <div class="colour3bg" style="height: 75px;"></div>
    </div>



    <div id="body">


        <div class="tool">
            <span>Software<div class="id_nr">&#x007b;301&#x007d;</div></span>
            <span class="line1px"></span>
            <div class="teletext tool_art">&#xe220;&#xe214;&#xe21c;&#xe22c;&#xe228;&#xe20c;&#xe214;&#xe220;&#xe214;
&#xe201;&#xe215;&#xe215;&#xe22a;&#xe22a; &#xe215;&#xe201;&#xe215;
 &#xe201;&#xe203;&#xe203;&#xe202;&#xe203;&#xe201; &#xe201;</div>
        </div>

        <div class="tool">
            <span>3D Printing <div class="id_nr">&#x007b;302&#x007d;</div></span>
            <span class="line1px"></span>
            <div class="teletext tool_art">&#xe217;&#xe203;&#xe203;&#xe223;&#xe233;&#xe203;&#xe203;&#xe203;&#xe215;
&#xe217;&#xe203;&#xe203;&#xe20b;&#xe21f;&#xe203;&#xe203;&#xe203;&#xe215;
&#xe215;&#xe233;&#xe215;&#xe217;&#xe214;   &#xe215;
&#xe235;&#xe23c;&#xe235;&#xe23d;&#xe231;&#xe230;&#xe230;&#xe230;&#xe215;
&#xe203;&#xe203;&#xe203;&#xe203;&#xe203;&#xe203;&#xe203;&#xe203;&#xe201;
</div>

        </div>

        <div class="tool">
            <span style="font-size: 14px; line-height: 12px">Generative Design<div class="id_nr">&#x007b;303&#x007d;</div></span>
            <span class="line1px"></span>
            <div class="teletext tool_art">    &#xe215;
    &#xe215;
  &#xe202;&#xe224;&#xe235;&#xe206;
  &#xe202;&#xe21b;&#xe21f;&#xe213;
  &#xe202; &#xe201;&#xe202;
</div>
        </div>
        <div class="tool">
                <span>SLM <div class="id_nr">&#x007b;304&#x007d;</div></span>
                <span class="line1px"></span>
                <div class="teletext tool_art">&#xe203;&#xe203;&#xe22f;&#xe23f;&#xe23f;&#xe23f;&#xe207;&#xe203;&#xe201;
   &#xe20b;&#xe20f;&#xe201;
&#xe22a;   &#xe205;  &#xe22a;
&#xe20a;&#xe218;&#xe218;&#xe218;&#xe219;&#xe218;&#xe218;&#xe21a;
                </div>
        </div>

        <div class="tool">
            <span>Milling <div class="id_nr">&#x007b;305&#x007d;</div></span>
            <span class="line1px"></span>
             <div class="teletext tool_art">   &#xe202;&#xe22f;&#xe215;
   &#xe22a;&#xe234;&#xe201;
   &#xe220;&#xe20b;&#xe215;
&#xe228;&#xe214; &#xe22a;&#xe23d;&#xe210; &#xe23c;
&#xe202;&#xe203;&#xe203;&#xe203;&#xe203;&#xe203;&#xe203;&#xe203;
</div>
        </div>

        <div class="tool">
            <span>R&D<div class="id_nr">&#x007b;306&#x007d;</div></span>
            <span class="line1px"></span>
            <div class="teletext tool_art">   &#xe228;&#xe23d;
 &#xe230;&#xe230;&#xe23a;&#xe23f;&#xe230;&#xe230;&#xe210;
&#xe202;&#xe20f;&#xe20f;&#xe22f;&#xe23f;&#xe20f;&#xe20f;&#xe207;
   &#xe22a;&#xe23f;
   &#xe202;&#xe207; </div>
        </div>




    <div id="bottombar">

        <!--
        <div id="Row1">
            <a href="{% url 'hlmtLandingPage' %}" id="gelb">Information</a>
            <a href="{% url 'hlmtDisciplinesPage' %}" id="rot">Disciplines</a>
            <a href="{% url 'hlmtToolsPage' %}" id="magenta">Tools</a>
        </div>
        <br>
        <div id="Row2">
            <a href="{% url 'hlmtPeoplePage' %}" id="gelb">People</a>
            <a href="{% url 'hlmtContactPage' %}" id="rot">Contact</a>
            <a href="{% url 'hlmtAdsPage' %}" id="gelb">Adds</a>
            <a href="{% url 'hlmtWeatherPage' %}" id="gruen">Weather</a>
        </div>
        -->
        <a href="100.html" class="colour1">Information <div class="id_nr"><pre class="colour1">[</pre>100<pre class="colour1">]</pre></div></a>
        <a href="200.html" class="colour2">Disciplines <div class="id_nr"><pre class="colour2">[</pre>200<pre class="colour2">]</pre></div></a>
        <a href="300.html" class="colour3">Tools <div class="id_nr"><pre class="colour3">[</pre>300<pre class="colour3">]</pre></div></a>

        <a href="400.html" class="colour4">People <div class="id_nr"><pre class="colour4">[</pre>400<pre class="colour4">]</pre></div></a>
        <a href="500.html" class="colour5">Contact <div class="id_nr"><pre class="colour5">[</pre>500<pre class="colour5">]</pre></div></a>
        <a href="600.html" class="colour6">Ads <div class="id_nr"><pre class="colour6">[</pre>600<pre class="colour6">]</pre></div></a>
    </div>
</div>


<script>

const timeField = document.getElementById("timeOutput")
console.log(timeField)

async function updateTime() {
    var seconds = ""
    var minutes = ""
    var hours = ""
    var dt = new Date();

    if (dt.getSeconds() % 2 == 0){
        if (dt.getSeconds() < 10) {
             seconds = "0" + dt.getSeconds();
        } else {
             seconds = dt.getSeconds();
        }
        if (dt.getMinutes() < 10) {
             minutes = "0" + dt.getMinutes();
        } else {
             minutes = dt.getMinutes();
        }
        if (dt.getHours() < 10) {
             hours = "0" + dt.getHours();
        } else {
             hours = dt.getHours();
        }

        var time = "<span id='time'>" + hours + ":" + minutes + ":" + seconds + "</span>"

    } else {
        if (dt.getSeconds() < 10) {
             seconds = "0" + dt.getSeconds();
        } else {
             seconds = dt.getSeconds();
        }
        if (dt.getMinutes() < 10) {
             minutes = "0" + dt.getMinutes();
        } else {
             minutes = dt.getMinutes();
        }
        if (dt.getHours() < 10) {
             hours = "0" + dt.getHours();
        } else {
             hours = dt.getHours();
        }

        var time = "<span id='time'>" + hours + " " + minutes + " " + seconds + "</span>"

    }
    $("#time").remove()
    $("#timeOutput").append(time);
    setTimeout(() => {
                updateTime();
            }, 200)


}
updateTime()
</script>


</body>
</html>